

//defining variables
$boxShadow:0px 4px 8px rgba(0,0,0,0.1);
$fontColor:#b40000;
$fontFamily:Arial, Helvetica, sans-serif;

//defining mixins
@mixin btn {
         outline:none;
         border:none;
         background-color:transparent;
         cursor:pointer;
         transition:all 0.5s 0s ease;
}


//reset styles
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

//style for body element
body {
    font-family:$fontFamily;
}

//styles for navbar
nav {
    ul {
        width:60%;
        margin:50px auto;
        list-style-type:none;
        display:flex;
        justify-content:space-around;
        box-shadow:$boxShadow;
        border-radius:10px;
        padding:20px;
        li {
            
            button {
                @include btn;
                color:$fontColor;
                font-size:1.1rem;
                text-transform:uppercase;
            }

            button:hover {
                color:#1e1e1e;
                
            }
        }

      
    }
}

//styles for card container and cards
section {
    display:flex;
    flex-wrap:wrap;
    margin:30px;
   article.card {
        color:#777777;
        margin:20px;
        width:30%;
        box-shadow:$boxShadow;
        border-radius:10px;

        img {
            width:100%;
            height:260px;
            object-fit: cover;
            border-radius:10px 10px 0px 0px;
        }
        div {
            padding:20px;

            h2 {
                color:$fontColor;
                text-transform: capitalize;
                font-size:1.5rem;
                font-weight:400;
                padding-bottom:20px;
                
            
            }

            p {
                margin-bottom:20px;

                span.border {
                
                    border-top:dotted 2px #1e1e1e;
                    display:inline-block;
                    width:70%;
                    margin-right:10px;
                    
                }

                span.price {
                    color:$fontColor;
                }
            }
            

    

            button {
                @include btn;
                color:$fontColor;
                text-transform:uppercase;
                border:1.5px solid $fontColor;
                padding:7px 12px;
                position:relative;
                left:60%;
                
            }

            button:hover {
                background-color:$fontColor;
                color:white;
            }
        }
        
        
    }
}


//styles for small devices




@media only screen and (max-width:700px){
    nav {

       ul {
           width:90%;
        
           li {
               padding:5px;
               button {
                   font-size:1rem;
               }
           }
           
       }
    }

    section {
       
        margin:0px;
        justify-content:center;
        article.card {
            width:95%;
            margin:15px 0px;
        }
    }
}

@media only screen and (min-width:701px) and (max-width:1024px){
   

    

    section {
       
        margin:0px;
        justify-content:center;
        article.card {
            width:40%;
            margin:15px;
            
        }
    }
}

